<button class="btn btn-primary" 
  (click)="onAdd()">Add</button>
&nbsp;

<button class="btn btn-success" 
  [disabled]="!isSelected()"
  (click)="onEdit()">Edit</button>
&nbsp;

<button class="btn btn-danger" 
  [disabled]="!isSelected()"
  (click)="onDelete()">Delete</button>

<br>
<br>

<table class="table table-bordered">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of objects; index as i" 
        (click)="onSelect(project)"
        (dblclick)="onEdit(project)"
        [class.table-info]="project == selected">
        <th scope="row">{{i + 1}}</th>
        <td>{{project.title}}</td>
        <td>{{project.customer}}</td>
    </tr>
  </tbody>
  </table>